package ${package}.modules.${moduleName}.controller;

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiOperation;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import shop.xianbao.common.annotation.LogOperation;
import shop.xianbao.common.constant.Constant;
import shop.xianbao.common.page.PageData;
import shop.xianbao.common.utils.ExcelUtils;
import shop.xianbao.common.utils.Result;
import shop.xianbao.common.validator.AssertUtils;
import shop.xianbao.common.validator.ValidatorUtils;
import shop.xianbao.common.validator.group.AddGroup;
import shop.xianbao.common.validator.group.DefaultGroup;
import shop.xianbao.common.validator.group.UpdateGroup;
import springfox.documentation.annotations.ApiIgnore;

import javax.servlet.http.HttpServletResponse;
import java.util.List;
import java.util.Map;

import ${package}.modules.${moduleName}.dto.${className}DTO;
import ${package}.modules.${moduleName}.dto.${className}ListDTO;
import ${package}.modules.${moduleName}.excel.${className}Excel;
import ${package}.modules.${moduleName}.service.${className}Service;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
@RestController
@RequestMapping("${moduleName}/${pathName}")
@Api(tags="${comments}")
public class ${className}Controller {
    @Autowired
    private ${className}Service ${classname}Service;

    @GetMapping("page")
    @ApiOperation("查询列表带分页")
    @ApiImplicitParams({
        @ApiImplicitParam(name = Constant.PAGE, value = "当前页码，从1开始", paramType = "query", required = true, dataType="int") ,
        @ApiImplicitParam(name = Constant.LIMIT, value = "每页显示记录数", paramType = "query",required = true, dataType="int") ,
        @ApiImplicitParam(name = Constant.ORDER_FIELD, value = "排序字段 默认值 sort", paramType = "query", dataType="String") ,
        @ApiImplicitParam(name = Constant.ORDER, value = "排序方式，可选值(asc、desc),默认值 desc", paramType = "query", dataType="String")
    })
    @RequiresPermissions("${moduleName}:${pathName}:page")
    public Result<PageData<${className}ListDTO>> page(@ApiIgnore @RequestParam Map<String, Object> params){
        PageData<${className}ListDTO> page = ${classname}Service.page(params);

        return new Result<PageData<${className}ListDTO>>().ok(page);
    }

    @GetMapping("list")
    @ApiOperation("查询列表不带分页")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "id", value = "编号", paramType = "query", required = true, dataType="Long") ,
            @ApiImplicitParam(name = Constant.ORDER_FIELD, value = "排序字段 默认值 sort", paramType = "query", dataType="String") ,
            @ApiImplicitParam(name = Constant.ORDER, value = "排序方式，可选值(asc、desc),默认值 desc", paramType = "query", dataType="String")
    })
    @RequiresPermissions("${moduleName}:${pathName}:list")
    public Result<List<${className}ListDTO>> list(@ApiIgnore @RequestParam Map<String, Object> params){
        List<${className}ListDTO> list = ${classname}Service.list(params);

        return new Result<List<${className}ListDTO>>().ok(list);
    }
    @GetMapping("comboList")
    @ApiOperation("下拉列表")
    @RequiresPermissions("${moduleName}:${pathName}:comboList")
    public Result<List<${className}DTO>> comboList(@ApiIgnore @RequestParam Map<String, Object> params){
        List<${className}DTO> list = ${classname}Service.comboList(params);
        return new Result<List<${className}DTO>>().ok(list);
    }
    @GetMapping("{id}")
    @ApiOperation("详细信息")
    @RequiresPermissions("${moduleName}:${pathName}:info")
    public Result<${className}DTO> get(@PathVariable("id") Long id){
        ${className}DTO data = ${classname}Service.get(id);

        return new Result<${className}DTO>().ok(data);
    }

    @PostMapping
    @ApiOperation("新增")
    @LogOperation("新增")
    @RequiresPermissions("${moduleName}:${pathName}:add")
    public Result add(@RequestBody ${className}DTO dto){
        //效验数据
        ValidatorUtils.validateEntity(dto, AddGroup.class, DefaultGroup.class);

        ${classname}Service.add(dto);

        return new Result();
    }

    @PutMapping
    @ApiOperation("修改")
    @LogOperation("修改")
    @RequiresPermissions("${moduleName}:${pathName}:update")
    public Result update(@RequestBody ${className}DTO dto){
        //效验数据
        ValidatorUtils.validateEntity(dto, UpdateGroup.class, DefaultGroup.class);

        ${classname}Service.update(dto);

        return new Result();
    }

    @DeleteMapping
    @ApiOperation("删除")
    @LogOperation("删除")
    @RequiresPermissions("${moduleName}:${pathName}:delete")
    public Result delete(@RequestBody Long[] ids){
        //效验数据
        AssertUtils.isArrayEmpty(ids, "id");

        ${classname}Service.delete(ids);

        return new Result();
    }

    @GetMapping("export")
    @ApiOperation("导出")
    @LogOperation("导出")
    @RequiresPermissions("${moduleName}:${pathName}:export")
    public void export(@ApiIgnore @RequestParam Map<String, Object> params, HttpServletResponse response) throws Exception {
        List<${className}ListDTO> list = ${classname}Service.list(params);

        ExcelUtils.exportExcelToTarget(response, null, list, ${className}Excel.class);
    }

}