package ${package}.modules.${moduleName}.dto;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import java.io.Serializable;
import java.util.Date;
import shop.xianbao.common.dto.XianbaoBaseDTO;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${comments}
 * 列表DTO
 * @author ${author}
 * @since ${version} ${date}
 */
@Data
@ApiModel(value = "${comments}-列表")
public class ${className}ListDTO {
	private static final long serialVersionUID = 1L;

	// 出于代码规范的考虑,提出建议:
	// 从以下属性中选取显示列表需要的字段,其余的一律删除(包括这两行注释)

	#foreach ($column in $columns)
		@ApiModelProperty(value = "$column.comments")
		private $column.attrType $column.attrname;

	#end
}